@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', cursive;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container { 
    background-color: black;
    color: white;
    padding-bottom: 50px;
    margin: 10px;
    max-width: 700px;
}

.item {
    margin-bottom: 25px;
}

.item > * {
    margin: 10px auto;
}

h2 {
    font-size: 2rem;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    color: yellow;
}

a:hover {
    color: pink;
}

.nav {
    margin: -25px auto 25px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
    border-radius: 5px; 
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: dodgerblue;
    color: white;
}

button:disabled {
    opacity: .5;
    pointer-events: none;
}

#back-btn {
    margin-right: 25px;
}

#moar-btn {
    margin-left: 25px;
}

#page-number {
    color: white; 
    font-size: 1.5rem;
    position: relative;
    top: 5px;
}